@import "lib/bootstrap/less/bootstrap.less";

@body-bg:#000000;

@modal-content-bg:@gray-darker;
@table-border-color:#000;

/*@albumWidth:500px;
@albumHeight:480px;
*/

@albumWidth:400px;
@albumHeight:390px;

@bioPicHeight:300px;
@bioPicWidth:300px;


@thumbWidth:150px;
@thumbHeight:150px;

@bioThumbWidth:100px;
@bioThumbHeight:100px;

@dropdown-bg:@gray-darker;
@dropdown-link-color:@gray-light;
@dropdown-header-color:@gray;
@dropdown-divider-bg:@gray;
@dropdown-link-hover-bg:@gray-light;
@dropdown-border:rgba(0,0,0,.15);
@nav-link-hover-bg:@gray-dark;
@navbar-inverse-link-active-bg:@gray-darker;


@gray-darker-trans:fade(@gray-darker,90%);

.modal-header .close{
    color:#ffffff;
}

.center{
    align:center;
}

.model-content{
    box-shadow:#66ccff;
}



.bgimg {
    background-image: url(../images/bglogo.png);
    	background-size: 375px 525px;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-attachment: fixed;
}

@text-color:#fff;
@input-color:#000;

div.floating-menu {
    position:fixed;
    background:@gray-darker;
    border:1px solid #eeeeee;
    width:250px;
    top:300px;
    left: 5px;
    z-index:100;
    font-size: 12px;
    border-radius:15px;
}

#revBox{
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}



#editor {
    max-height: 400px;
    height: 450px;
    background-color: rgba(0,0,0,0);
    border-collapse: separate;

    padding: 4px;
    box-sizing: content-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px; border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; border-top-left-radius: 3px;
    /*overflow-y: scroll;*/
    outline: none;
}

#voiceBtn {
width: 20px;
color: transparent;
background-color: transparent;
transform: scale(2.0, 2.0);
-webkit-transform: scale(2.0, 2.0);
-moz-transform: scale(2.0, 2.0);
border: transparent;
cursor: pointer;
box-shadow: none;
-webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dropdown-menu a {
    cursor: pointer;
}

label {
    float: left;
    width: 4em;
    margin-right: 1em;
    font-weight: normal;
}

.code {
    font-family-serif:"Times New Roman", Times, serif;
    color:blue;
}

h1 {
  color: @font-size-h1;
}

.dob-control-mix{

    color:#000000;
    border:none;
    text-overflow:'';
    text-indent:0.01px;
    cursor:pointer;
    height: 24px;
    font-size: 12px;
    width: 175px;
}

.dob-control-white {
  .dob-control-mix;
  background-color: #ffffff;
  color: #000000;
}

.skinnyAlert{
    padding-top: 3px;
    padding-bottom: 3px;
    height: 32px;
    vertical-align:bottom;
}
.dob-control-bad{
    background-color:@brand-danger ;
    .dob-control-mix;
}

.dob-control-grey {
  .dob-control-mix;
  background-color: @gray-dark;
  width: 50px;
}

.dob-input-group {
  width: 175px;
  border-color: @gray-light;
}

.dob-control-ok{
    background-color:@brand-success ;
    .dob-control-mix;
}

.dob-pass-strong{
    background-color:@brand-success ;
    .dob-control-mix;
}

.dob-pass-good{
    background-color:@brand-success ;
    .dob-control-mix;
}

.dob-pass-ok{
    background-color:@brand-info ;
    .dob-control-mix;
}

.dob-pass-weak{
    background-color:@brand-warning ;
    .dob-control-mix;
}
.dob-pass-vweak{
    background-color:@brand-danger ;
    .dob-control-mix;
}
.dob_valid{
    font-size:12px;
}

.dob_ok{
    background-color:@brand-success ;
}

.dob_bad{
    background-color:@brand-danger ;
}

.dob-control-base {
    -moz-appearance:none;
    border:none;
    background:none;
    text-overflow:'';
    text-indent:0.01px;
    cursor:pointer;
}

.dob-control {
  .dob-control-base;
  color: #fff;
}

.dobselect {
  display: inline-block;
}

.loginForm{
    background-color: #ffffff;
    color:#000000;
    padding:15px;
    box-shadow: 0 0 15px rgba(211, 211, 211, 1);
}



@font-face {
	font-family: 'DobScript';
        src: url('dobscript-webfont.eot');
        src: url('dobscript-webfont.eot?#iefix') format('embedded-opentype'),
             url('dobscript-webfont.woff2') format('woff2'),
             url('dobscript-webfont.woff') format('woff'),
             url('dobscript-webfont.ttf') format('truetype'),
             url('dobscript-webfont.svg#dobscriptregular') format('svg');
        font-weight: normal;
        font-style: normal;

	font-weight: normal;
	font-style: normal;
}

@font-family-sans-serif:DobScript,"Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:DobScript,Georgia, "Times New Roman", Times, serif;



@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.info{
    display:none;
}
.floatLeft{
    float:left;
}


.moveLeft{
    text-align:left;
}
.moveCenter{
    text-align:center;
}
.moveRight{
    text-align:right;
}

.discoThumb{
 width:@thumbWidth;
 height:@thumbHeight;
}

.bioThumb{
   width:@bioThumbWidth;
   height:@bioThumbHeight;
}


.massive{
    font-size:68px;
}



*[id*='trackDiv']{
    padding-left:75px;
    padding-bottom:15px;
}

.disc-table {
    align:center;
    padding:20px;
    border-top: none;
     border-spacing: 50px;
}

.modal-cell{
}

.table th, .table td {
   border-top: none;
}

.discoCell{
text-align:center;
vertical-align: text-top;
border-top: #000;
border-top: none;
}

.table-no-border>thead>tr>th,
.table-no-border>tbody>tr>th,
.table-no-border>tfoot>tr>th,
.table-no-border>thead>tr>td,
.table-no-border>tbody>tr>td,
.table-no-border>tfoot>tr>td {
    border-top: none;
}
/*
 * Masthead for nav
 */

/* BAsed on http://bootsnipp.com/snippets/featured/no-more-tables-respsonsive-table */
@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
	#no-more-tables table,
	#no-more-tables thead,
	#no-more-tables tbody,
	#no-more-tables th,
	#no-more-tables td,
	#no-more-tables tr {
		display: block;
	}

/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#no-more-tables tr { border:none; }

	#no-more-tables td {
		/* Behave  like a "row" */
		border: none;
		position: relative;
		align:center;
		white-space: normal;
		text-align:center;
	}

	#no-more-tables td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

}

.dob-masthead {
  /*background-color: #428bca;*/
  background-color: #000000;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.dob-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;

  //color: #cdddeb;
}
.dob-nav-item:hover,
.dob-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.dob-nav .active {
  color: #000;
}

.dob-black-bg{
    background: #000;
}

.dob-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * dob name and description
 */

.dob-header {
  padding-top: 1px;
  padding-bottom: 20px;
}
.dob-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.dob-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.dob-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.dob-pager {
  width: 125px;
  align: center;
}

/*
 * dob posts
 */

.dob-post {
  margin-bottom: 60px;
}
.dob-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.dob-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.dob-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.dob-footer p:last-child {
  margin-bottom: 0;
}

#bioImage{
    width:@bioPicWidth;
    height:@bioPicHeight;
    text-align:center;
    align:center;
    margin:5px;
 }

.bioCell{
    text-align:left;
    vertical-align: text-top;
    border-top: #000;
    border-top: none;
  }

.bioDiv{
  background:@gray-darker-trans;
  border-radius:5px;
  margin:15px;
  padding:10px;
  /*max-height:150px;*/
  outline: 0;
}

.bioText{

  max-height:75px;
  height:65px;
  overflow:hidden;
    outline: 0;
}

div[id*='bioName']{
    outline:0;
    padding-left:2px;
}

div[id*='bioImageDiv']{
    outline:0;
    margin-right:4px;
}

img[id*='bioImage']{


        margin-right:4px;
    }


.bioTextExpanded{
    min-height:65px;
}
.bioText:before {
      background:linear-gradient(transparent 65px, @gray-darker);
 }

.expander,
.expander:hover,
.expander:active,
.expander:link,
.expander:focus
{
  outline: 0;
  align:right;
  font-size:small;
  color:@gray-light;
}

.editBtnOn,
.editBtnOn:hover,
.editBtnOn:active,
.editBtnOn:link,
.editBtnOn:focus
{
    outline: 0;
    align:right;
    font-size:small;
    color:@brand-success;
}

.editBtnOff,
.editBtnOff:hover,
.editBtnOff:active,
.editBtnOff:link,
.editBtnOff:focus
{
    outline: 0;
    align:right;
    font-size:small;
    color:@gray-light;
}

.btnSuccessful,
.btnSuccessful:hover,
.btnSuccessful:active,
.btnSuccessful:link,
.btnSuccessful:focus
{
    align:right;
    font-size:small;
    color:@brand-success;
}

.btnWarning,
.btnWarning:hover,
.btnWarning:active,
.btnWarning:link,
.btnWarning:focus
{
    align:right;
    font-size:small;
    color:@brand-warning;
}

.btnInfo,
.btnInfo:hover,
.btnInfo:active,
.btnInfo:link,
.btnInfo:focus
{
    align:right;
    font-size:small;
    color:@brand-info;
}

.btnFailure,
.btnFailure:hover,
.btnFailure:active,
.btnFailure:link,
.btnFailure:focus{
      align:right;
      font-size:small;
      color:@brand-danger;
  }

.blackTA{
    background-color:transparent;
    width:600px;
    resize:none;
    border:none;
}

.ui-dialog .ui-dialog-content {
    padding: 0;
}

#tabs {
    border: none;
    padding: 0;
}



.ui-tabs-nav {
    background-color: @gray-darker !important; /*To overwrite jquery-ui.css*/
    height: 30px;                        /*To stop nav block scaling of tab size*/
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus  {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: @gray-dark;        /*To make it looks like on example pic, it is possible do do with it whatever you want*/
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px 1px 0;
    border-radius: 5px 5px 0 0;    /*To affect only top corners*/
    color: white;
    position: relative;
    z-index: 5;
    color: black !important;             /*To overwrite jquery-ui.css*/
    text-decoration: none !important;     /*To overwrite jquery-ui.css*/
}

.ui-tabs .ui-tabs-nav li {
    position: relative;    /*To overwrite jquery-ui.css*/
    top: -10px !important;  /*To overwrite jquery-ui.css*/
    border: none;
    margin: 0 0 -5px 0;
    background: none;
}
.ui-tabs-anchor{
    color: white !important;                  /*To overwrite jquery-ui.css*/
    text-decoration: underline !important;    /*To overwrite jquery-ui.css*/
}

.ui-tabs .ui-tabs-panel /* just in case you want to change the panel */
{
    background:white;
    color:@gray-light !important;
}

.toolbar{
  z-index: 500;
  position: relative;
  height: 30px;
}

.toolbar-compact{
    position:absolute;
    width:100px;
}

.btn-toolbar{
  text-align: center;
  align: center;
}

.btn-dob-toolbar{
   background:@gray-darker;
}

.isDraftOn,
.isDraftOn:hover,
.isDraftOn:active,
.isDraftOn:link,
.isDraftOn:focus
{
    outline: 0;
    align:right;
    font-size:small;
    color:@brand-danger;
}

.isDraftOff,
.isDraftOff:hover,
.isDraftOff:active,
.isDraftOff:link,
.isDraftOff:focus
{
    outline: 0;
    align:right;
    font-size:small;
    color:@brand-success;
}


.compact{
    font-size:smaller;
    border-radius:3px;
    padding:5px;
    padding-left:10px;
    margin:3px;
}

.alert-close{

}

.about{
    max-height: 100px;
    height: 150px;
}

#avatar{
   width:@bioThumbWidth;
   height:@bioThumbHeight;
    text-align:center;
    align:center;
    margin:5px;
 }

div[class*='wysiwyg'] {
  border: none
}

.wysiwyg-toolbar-icon {
  color: @gray;
}

.wysiwyg-popup {
  background-color: @gray-darker;
}

.wysiwyg-popup .wysiwyg-toolbar-icon {
  color: @gray-light;
}

.small-select {
  font-size: small;
}

pre {
  padding: 0;
  border: none;
}

.carousel-caption {
  fp-color: #fff;
  background-color: #000;
  height: 450px;
  position: static;
}

.fp-container{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#fp-carousel{
  height:500px;
  max-height: 550px;
  overflow: hidden;
  vertical-align: middle;
}

.btn-gray,
.btn-gray:hover{
  background-color: @gray-darker;
  color:@brand-primary;
}