@(message: String)(bio: Biography)
@scripts = {
<script src='@routes.Assets.at("javascripts/bio.js")'></script>
}

@content = {

<div class="row">

    <div  class="col-md-9  col-sm-offset-2 dob-main">
        <div id="name">
            <h1>@bio.name</h1>
        </div>

        <img src="@routes.Assets.at(bio.imagePath)" class="floatLeft" id="bioImage">
        <div id="bioText">
            Name: @bio.name
            <br/><br />
            About: <br/>
            @bio.bioText

        </div>

    </div><!-- /.dob-main -->

</div><!-- /.row -->

}

@main("Da Oostin Boyeez")(content)( scripts)
