@(message: String,editable: Int)(implicit session : Session)
@scripts = {
<script src='@routes.Assets.at("javascripts/require.js").url'
        data-main='@routes.Assets.at("javascripts/bio-main.js").url'></script>
}

@content = {

<div class="row">
    <div id="leekDiv" edit-mode="@editable" class="col-md-12 col-md-offset-1 dob-main centered">

    </div>
    <div id="no-more-tables" class="col-md-10 col-md-offset-1 dob-main centered">

        <table id="dobBioTable" class="table table-no-border">
        </table>
        <table id="mcBioTable" class="table table-no-border">
        </table>
    </div><!-- /.dob-main -->

</div><!-- /.row -->
}

@main("Da Oostin Boyeez")(content)( scripts)
