@(message: String, form: Form[Blog])
@scripts = {
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.ui-contextmenu.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/dobcms.js")" type="text/javascript"></script>
}

@content = {

<div class="row" >

    <div  class="col-md-9  col-sm-offset-2 dob-main">


        @helper.form(action = routes.Application.submitBlog, 'id -> "blogForm" ){
        <input type="hidden" name="id" value="-1" />
        <div class="col-md-7">
        <input type="hidden" name="title" id="title" />
        <h2 class="dob-post-title" id="postTitle" onkeyup="updateTitleBox()" contenteditable="true">Dob Post Title</h2>
        <input type="hidden" value="1" id="typId1" />
        <input type="hidden" value="1" id="typId1" />
        </div>
        <div class="col-md-2">
            @helper.select(field = form("postType"), options = List("1" ->"News","2"->"Music","3"->"Gaz Three"),  args = 'class -> "form-control",'_label -> "Post Type" )
        </div>
        <input type="hidden" name="dateCreated" id="dateCreated" />
        <input type="hidden" name="author" id="author" value="MC Donalds" />
        <!--@helper.inputText(field = form("author"), args = 'class -> "form-control",'_label -> "Author") -->


      <div  class="col-md-9  dob-main">
          <input type="hidden" name="content" id="content" />
          <div id="postContent" onclick="this.contentEditable='true';" ontentEditable="true" onkeyup="updateContentBox()" ondragenter="return false" ondragover="return false" ondrop="dropIt(event)" onload="doElements()">
              <p>Start Typing you post content here</p>
          </div>

        <script type="text/javascript" >
           function submitForm(){
                var d = new Date()
                var dtStr = d.getFullYear()+"-"+d.getMonth()+"-"+d.getDate();
                document.getElementById("dateCreated").value = dtStr;
                var title = document.getElementById("postTitle").innerText ||
                        document.getElementById("postTitle").textContent;
                document.getElementById("title").value = title;
                var content = document.getElementById("postContent").innerHTML;
                document.getElementById("content").value = content;

                document.getElementById("blogForm").submit();

            }
        </script>
          <input type="button" value="Submit"  onclick="submitForm()" class="btn btn-primary" />
      </div>

    <div  class="col-md-9  dob-main">
        <div id="result">

        </div>



    </div>
        }
    </div><!-- /.dob-main -->

</div><!-- /.row -->

}

@main("Da Oostin Boyeez")(content)( scripts)