@(message: String, form: Form[Blog])
@scripts = {
<script src="http://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.ui-contextmenu.js")" type="text/javascript"></script>
}

@content = {

<div class="row" >

    <div  class="col-md-9  col-sm-offset-2 dob-main">


        @helper.form(action = routes.Application.submitBlog, 'id -> "blogForm" ){
        <input type="hidden" name="id" value="-1" />
        <div class="col-md-7">
        @helper.inputText(field = form("title"), args = 'class -> "form-control", '_label -> "Title", 'onkeyup -> "updateTitle()", 'id -> "title" )
        </div>
        <div class="col-md-2">
            @helper.select(field = form("postType"), options = List("1" ->"News","2"->"Music","3"->"Gaz Three"),  args = 'class -> "form-control",'_label -> "Post Type" )
        </div>
        <input type="hidden" name="dateCreated" id="dateCreated" />
        <input type="hidden" name="author" id="author" value="MC Donalds" />
        <!--@helper.inputText(field = form("author"), args = 'class -> "form-control",'_label -> "Author") -->


      <div  class="col-md-9  dob-main">
          @helper.textarea(field = form("content"), args = 'class -> "form-control",'_label -> "Content", 'id -> "content", 'onkeyup -> "updateContent()")
        <script type="text/javascript" >
           function submitForm(){
                var d = new Date()
                var dtStr = d.getFullYear()+"-"+d.getMonth()+"-"+d.getDate();
                document.getElementById("dateCreated").value = dtStr;
                var content = document.getElementById("content").value;
                document.getElementById("content").value = p(content);

                document.getElementById("blogForm").submit();

            }
        </script>
          <input type="button" value="Submit"  onclick="submitForm()" class="btn btn-primary" />
      </div>

    <div  class="col-md-9  dob-main">
        <h2 class="dob-post-title" id="postTitle"></h2>
        <hidden value="1" id="typId1"/>
        <div ></div>
        <div id="postContent" onclick="this.contentEditable='true';" onkeyup="updateContentBox()"ondragenter="return false" ondragover="return false" ondrop="dropIt(event)">

        </div>
    </div>
        }
    </div><!-- /.dob-main -->

</div><!-- /.row -->


<script type="text/javascript" >
            function updateTitle(){
                var titleContent = document.getElementById("title").value;
                document.getElementById("postTitle").innerHTML = titleContent;
            }

            function p(t){
                t = t.trim();
                return (t.length>0?'<p>'+t.replace(/[\r\n]+/,'</p><p>')+'</p>':null);
            }

            function updateContent(){
                var blogContent = document.getElementById("content").value;
                document.getElementById("postContent").innerHTML = p(blogContent);
            }

            function updateContentBox(){
                var blogContent = document.getElementById("postContent").innerHTML;
                document.getElementById("content").value = blogContent;
            }

            function imagesSelected(myFiles, target) {
  var count = 1;
  for (var i = 0, f; f = myFiles[i]; i++) {
    var imageReader = new FileReader();
    imageReader.onload = (function(aFile) {
      return function(e) {
	var imgName = "myImg" + (count++);
        var span = document.createElement('img');
        span.setAttribute('id',imgName);
        span.setAttribute('class', 'images');
        span.setAttribute('src',e.target.result);
        span.setAttribute('title',aFile.name);

	//span.innerHTML = ['<img class="images" src="', e.target.result,'" title="', aFile.name, '"/>'].join('');
        document.getElementById(target).insertBefore(span, null);
         $(document).contextmenu({
	  delegate: "#"+imgName,
	  menu: [
	    {title:"Left",action: function(event,ui){ $("#"+imgName).attr('class','pull-left'); }},
	    {title:"Right",action: function(event,ui){ $("#"+imgName).attr('class','pull-right'); }},
	  ]
        });
      };
    })(f);
    imageReader.readAsDataURL(f);
  }
}

function dropIt(e) {

	var target = e.target || e.srcElement;
   imagesSelected(e.dataTransfer.files, target.id);
   e.stopPropagation();
   e.preventDefault();

}

</script>
}

@main("Da Oostin Boyeez")(content)( scripts)
