@(mode: String, user: Option[UserAccount], posts: Seq[ContentPost])(implicit session: Session)
@scripts = {
<script src='@routes.Assets.at("javascripts/require.js").url'
        data-main='@routes.Assets.at("javascripts/news-main.js").url'></script>
}

@content = {

   <div class="row" >

      <div  class="col-md-10  col-sm-offset-1 dob-main">
          <input id="mode" type="hidden" value="@mode" />
          <div id="posts" class="centered">

          @for(post <- posts) {
              <div class="dob-post row" id="@{
                  post.id
              }"><a id="itemLink${post.id}" href="@routes.Application.post(post.id).url">
                  <h2 class="dob-post-title">@{
                      post.title
                  }</h2></a>
                  <hidden value="1" id="typId@{
                      post.id
                  }"></hidden>
                  <div>Posted On: @{
                      post.dateCreated
                  } by @{
                      post.author
                  }</div>
                  <div id="content">
                  @Html(post.getContent())
                  </div>
              </div>
          }
              @if(posts.isEmpty) {
                  @defining(mode.split(":")) { parts =>
                      @if(parts.length > 1) {
                          <h2>No Posts for @{
                              parts(1)
                          }</h2>
                      } else {
                          <h2>No Posts for @{
                              mode
                          }</h2>
                      }
                  }
              }
       </div>
          @defining(posts.lastOption) { lastPost =>
              @lastPost match {
                  case Some(post) => {
                      <input id="lastPostDate" type="hidden" value="@post.dateCreated.format("yyyyMMddHHmmss")" />
                  }
                  case None => {
                      <input id="lastPostDate" type="hidden" value="today" />
                  }
              }
          }
          <a id="pager" class="btn btn-primary" style="width : 100 %">More</a>


      </div><!-- /.dob-main -->

    </div><!-- /.row -->

}

@main("news",content,scripts,user)
