@(uri: String)(implicit session : Session)
@scripts = {
<script src='@routes.Assets.at("javascripts/require.js").url'
        data-main='@routes.Assets.at("javascripts/news-main.js").url'></script>
}

@content = {

   <div class="row" >

      <div  class="col-md-10  col-sm-offset-1 dob-main">
       <div id="posts" class="centered">
       </div>
            <input id="contentURI" type="hidden" value="@uri" />
          <button id="pager" class="btn btn-primary" style="width:100%">More</a></li>


      </div><!-- /.dob-main -->

    </div><!-- /.row -->

}

@main("news",content,scripts)
