@(message: String)(implicit session : Session)

@content = {
    <div class="row">

        <div id="no-more-tables"  class="col-md-9  col-sm-offset-1 dob-main centered" >
            <h3>Albums:</h3>
            <table id="albumThumbsTable" class="table table-no-border">
            </table>
            <h3>Singles:</h3>
            <table id="singleThumbsTable" class="table table-no-border">
            </table>
            <h3>EPs:</h3>
            <table id="epThumbsTable" class="table table-no-border">
            </table>
            <h3>Compilations:</h3>
            <table id="otherThumbsTable" class="table table-no-border">
            </table>
        </div><!-- /.dob-main -->

    </div><!-- /.row -->


    <div id="modals">
    </div><!-- /.container -->
}

@scripts ={
<script src='@routes.Assets.at("javascripts/require.js").url'
        data-main='@routes.Assets.at("javascripts/discography-main.js").url'></script>
    }

@main("Da Oostin Boyeez")(content)( scripts)

