@(message: String)

@content = {





    <div class="row">

        <div  class="col-md-9  col-sm-offset-2 dob-main centered">
            <h3>Albums:</h3>
            <table id="albumThumbsTable" class="table borderless">
            </table>
            <h3>Singles:</h3>
            <table id="singleThumbsTable" class="table">
            </table>
            <h3>EPs:</h3>
            <table id="epThumbsTable" class="table">
            </table>
            <h3>Compilations:</h3>
            <table id="otherThumbsTable" class="table">
            </table>
        </div><!-- /.dob-main -->

    </div><!-- /.row -->


    <div id="modals">
    </div><!-- /.container -->

}

@scripts ={
    <script src='@routes.Assets.at("javascripts/disco.js")'></script>

    }

@main("Da Oostin Boyeez")(content)( scripts)

