@(title:String = "Toolbar")
<div id="toolbar" title="toolbar">
    <div id="toolbar-tabs">
        <ul>
            <li><a href="#tab1">tab1</a></li>
            <li><a href="#tab2">tab2</a></li>
        </ul>
        <div id="tab1">
            <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
                <div class="btn-group">
                    <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><span class="fa fa-undo"></span ></a>
                    <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><span class="fa fa-repeat"></span ></a>
                </div>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><span class="fa fa-text-height"></span >&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a data-edit="fontSize 5"><font size="5">Large</font></a></li>
                        <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                        <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><span class="fa fa-bold"></span></a>
                    <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><span class="fa fa-italic"></span ></a>

                    <a class="btn" data-edit="strikethrough" title="Strikethrough"><span class="fa fa-strikethrough"></span ></a>
                    <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><span class="fa fa-underline"></span ></a>

                </div>
                <div class="btn-group">
                    <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><span class="fa fa-list-ul"></span ></a>
                    <a class="btn" data-edit="insertorderedlist" title="Number list"><span class="fa fa-list-ol"></span ></a>
                    <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><span class="fa fa-indent"></span ></a>
                    <a class="btn" data-edit="indent" title="Indent (Tab)"><span class="fa fa-outdent"></span ></a>
                </div>
                <div class="btn-group">
                    <a data-edit="justifyleft" class="btn" aria-label="Left Align">
                        <span class="fa fa-align-left" aria-hidden="true"></span>
                    </a>
                    <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><span class="fa fa-align-center"></span ></a>
                    <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><span class="fa fa-align-right"></span ></a>
                    <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><span class="fa fa-align-justify"></span ></a>
                </div>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><span class="fa fa-link"></span ></a>
                    <div class="dropdown-menu input-append">
                        <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
                        <button class="btn" type="button">Add</button>
                    </div>
                    <a class="btn" data-edit="unlink" title="Remove Hyperlink"><span class="fa fa-chain-broken"></span ></a>
                </div>

                <div class="btn-group">
                    <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><span class="glyphicon glyphicon-picture"></span ></a>
                </div>

            </div>
        </div>
        <div id="tab2">
            <p>Leeeeeeek</p>
        </div>

    </div>
</div>