@(title:String = "Toolbar")
<div class="btn-group">
    <a class="btn" id="action-bold"><span class="glyphicon glyphicon-bold"/></a>
    <a class="btn" id="action-italic"><span class="glyphicon glyphicon-italic"/></a>
    <a class="btn" id="action-underline"><u>U</u></a>
    <a class="btn" id="action-unformat">X</a>
 </div>
<div class="btn-group">
    <!-- headings should go here -->
</div>
<div class="btn-group">
    <a class="btn" id="action-ul"><span class="glyphicon glyphicon-list"/></a>
    <a class="btn" id="action-ol"><span class="glyphicon glyphicon-list"/></a>
</div>
<div class="btn-group">
    <!-- headings should go here -->
</div>
<div class="btn-group">
    <!-- headings should go here -->
</div>