@(message: String, form: Form[Post], postId: String,postType:Int = 1)(implicit session : Session)


@username = {
    @session.get("username") match {
        case Some(username) => {@username}
        case None => {no-one}
    }
}
@content = {


<div class="row" >

    <div  class="col-md-10  col-sm-offset-1 dob-main">


        <div id="warnings">
            <div id="editAlertNew" class="alert alert-info compact" role="alert">This a new post<a href="#" class="alert-close btnSuccessful pull-right">X</a></div>
            <div id="editAlertLive" class=" alert-success compact" role="alert">This Post is live<a href="#" class="alert-close btnSuccessful pull-right">X</a></div>
            <div id="editAlertDraft" class="alert alert-info compact" role="alert">This post a draft<a href="#" class="alert-close btnInfo pull-right">X</a></div>
            <div id="editAlertUnsaved" class="alert alert-warning compact" role="alert">This post has unsaved changes<a href="#" class="alert-close btnWarning pull-right">X</a></div>

            <div id="editAlertDraft2Live" class="alert alert-info compact" role="alert">This post will become live on next save<a href="#" class="alert-close btnInfo pull-right">X</a></div>
            <div id="editAlertLive2Draft" class="alert alert-warning compact" role="alert">By entering draft mode this post will no longer be visible when you hit save<a href="#" class="alert-close btnWarning pull-right">X</a></div>
            <div id="editAlertRevision" class="alert alert-info compact" role="alert">You are viewing a revision<a href="#" class="alert-close btnInfo pull-right">X</a></div>
        </div>
        @helper.form(action = routes.Authorised.submitBlog, 'id -> "blogForm" ){
        <input type="hidden" name="postId" id="postId" value="@postId" />
        <!-- Start Toolbar
            -->

            @editorToolbar("Toolbar")

        <div style="position:absolute">
        <!-- End Tool bar
          -->
            <div class="col-md-7" >
                <h2 class="dob-post-title" id="postTitle" contenteditable="true">Dob Post Title</h2>
            </div>
            <div class="col-md-2">
                @helper.select(field = form("postType"), options = List("1" ->"News","2"->"Discography", "4" -> "Biography"),  args =   'class -> "form-control dob-control",'_label -> "" )
            </div>
            <input type="hidden" name="dateCreated" id="dateCreated" />
            <input type="hidden" name="draft" id="draft"/>
            <script type="text/javascript">
                var d = new Date()
                var dateStr = d.getFullYear()+"-"+(d.getMonth()+1)+"-"+d.getDate();
                document.getElementById("dateCreated").setAttribute('value',dateStr);
                $("#postType").val(@postType)
            </script>
            <input type="hidden" name="author" id="author" value="@username" />
            <!--@helper.inputText(field = form("author"), args = 'class -> "form-control",'_label -> "Author") -->
            <div  class="col-md-12  dob-main">
              <input type="hidden" name="content" id="content" />


              <div id="editor" class="mCustomScrollbar" data-mcs-theme="rounded" data-mcs-axis="y">
                  <div id="initText">Start Typing your post content here</div>
              </div>


            </div>
            <div class="col-md-12  dob-main">
                Enter Tags Separated by commas:
                <textarea id="tagBox" class="blackTA"></textarea>
            </div>
            <div class="col-md-12  dob-main">
                <div>
                    Extra Data:
                    <div id="extraData">
                        Please enter extra data as key value pairs: <br/>
                        <textarea id="extraDataValues" class="blackTA"></textarea>
                    </div>
                    <br/>
                </div>
            </div>


            <div  class="col-md-9  dob-main">
                <div id="result" />
            </div>

        </div>

    </div>
        }
    </div><!-- /.dob-main -->

</div><!-- /.row -->

}

@scripts = {
<script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.min.js"))' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/jquery.hotkeys.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/bootstrap-wysiwyg.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/dobcms.js")' type="text/javascript"></script>

}
@main("Da Oostin Boyeez")(content)( scripts)