@(message: String)(implicit session : Session)

@scripts = {
<script src="@routes.Assets.at("javascripts/aloha.min.js")"></script>
<script>

for (var command in aloha.ui.commands){
    $('#action-' + command).on('click', aloha.ui.command(aloha.ui.commands[command]))
}

function middleware(event){
    $('.active').removeClass('active');
    if ('leave' !== event.type){
        var states = aloha.ui.states(aloha.ui.commands,event);
        for (var selector in states){
            $('#action-' + selector).toggleClass('btn-primary',states[selector]);
        }
    }
    return event;
}

aloha.editor.stack.unshift(middleware);
aloha(document.querySelector('#leek'));
</script>
}

@content = {
@editorToolbar()
    <div class="row" id="leek">

        <div class="span4 col-lg-offset-2 dob-main centered">
            <h2>Hans und Jorg</h2>
            <p>This is a page deadickated to our Musicmen (they come from Ger man ay, What can
                they play? They play the Piano). Hans Und Jorg hoo were originally from germany
                but moved to oostin to get away from da Bortley Crew.</p>
            <img src="images/hans.jpg" alt="Hans Petersonn" width="287" height="274" /><br/>
            This is Hans Petersonn who is his own Father und Bruder
            <br /><img src="images/jorg.jpg" alt="Josep Jorg" width="289" height="289" /><br/>
            This be Josep Jorp Hoo used to be a nutter
            <br /><img src="images/huj.jpg" width="506" height="296" alt="Frau Kuntoonar"/><br/>
            This is Hans Und Jorg Mit their Translator Frau Küntoonar
            <div>
            The pictures were taken on a photo shoot in Walta's Wood
                <ul>
            <li>Interesting Fact - Hans Was seeing Eva Braun Behind Hilters Back and is soley
                responsible for the <a href="boo.htm">Battle of Oostin</a></li>
            <li>Interesting Fact 2 - Jorg Breeds With the Trees and walk around with his fly
                open as it is part of his religion</li>
            <li>Interesting Fact 3 - Hans und Jorg were the inspiration for the Condom and other
                birth control methods</li>
            <li>Interesting Fact 4 - Hans und Jorg are wanted by the German Goverment for their
                envolvement in the worlds biggest tampon smuggling scam</li>
            <li>Interesting Fact 5 - Hans Has No face</li>
                </ul>
            Hans und Jorg joined Da Oostin Boyeez after the former Oostin Boyeez DJ, DJ Funk Miester, left due
                to musical differences. They ended up in Oostin after fleeing from their homeland Germany where
                they lived under the Riechschtag Building as lodgers of Mr. A Hilter and Miss E Braun.
                They first fled to Bortley to get jobs as techno DJs but were forced to flee Bortley to
            neighbouring Oostin after Jorg was caught buying goods from a shop.
             </div>
        </div>
    </div>


}

@main("Da Oostin Boyeez")(content)( scripts)