@(user: Option[UserAccount])(implicit session : Session)

@scripts = {
    <script src='@routes.Assets.at("javascripts/require.js").url'
    data-main='@routes.Assets.at("javascripts/index-main.js").url'></script>
}

@content = {
<div  class="col-md-12 dob-main">
    <div id="fp-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#fp-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#fp-carousel" data-slide-to="1"></li>
            <li data-target="#fp-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption fp-carousel-caption">
                        <div class=" fp-container">
                            <img class="first-slide img-responsive center-block" src="assets/images/dob_logo.png" alt="First slide">
                            <p>Read the latest blogs from Da Oostin Boyeez</p>
                            <p><a class="btn btn-lg btn-gray" href="@routes.Application.blog()" role="button">Go There</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption fp-carousel-caption">
                        <div class=" fp-container">
                            <img class="first-slide img-responsive center-block" src="assets/images/needlelogo.jpg" alt="First slide">
                            <p>Read the latest from Gaz Three</p>
                            <p><a class="btn btn-lg btn-gray" href="@routes.Application.author("Gaz Three")" role="button">Go There</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption fp-carousel-caption">
                        <div class=" fp-container">
                            <img class="first-slide img-responsive center-block" src="assets/images/fp-bio.png" alt="First slide">
                            <p>Read Biographies of Da Oostin Boyeez</p>
                            <p><a class="btn btn-lg btn-gray" href="@routes.Application.biography()" role="button">Go There</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#fp-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#fp-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1 fp-linkList">
            Latest Blogs:
            <div id="latestBlogs" class="fp-inner">

            </div>
        </div>
        <div id="randomBlogs" class="col-md-5">
            Random Blogs:
        </div>
    </div>
</div>
}

@main("",content, scripts,user,false)
