@(form: Form[Option[models.UserAccount]],user:Option[UserAccount])(implicit messages: Messages)
@scripts = {}

@content = {

<div class="col-sm-4 col-sm-offset-4">
    <div class="img-rounded loginForm">
            <div align="center"  >Login</div>
        <ul>
            @for(error <- form.globalErrors){
                <li>@error.message</li>
            }
        </ul>


        @helper.form(action = routes.UserServices.authenticate) {

        @helper.inputText(field = form("email"),args = 'class -> "form-control dob-control-white", '_label -> "Email")

        @helper.inputPassword(field = form("password"),args = 'class -> "form-control dob-control-white", '_label -> "Password")

       <div align="center">
        <input type="submit" value="Sign In" id="submit" class="btn btn-success" />
        <a class="btn btn-warning" href="@routes.UserServices.signup">Sign Up</a>
       </div>
        }
    </div>
</div>

}

@main("Da Oostin Boyeez",content, scripts,user)
