@(loggedInUser: Option[UserAccount])
  <div class="navbar navbar-inverse navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@routes.Application.index()">Da Oostin Boyeez</a>
      </div>
      <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="nav navbar-nav" id="leftSideNavBar">
          <li id="newsB"><a href="@routes.Application.blog()">Blog</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About DOB<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="@routes.Application.biography()">Biography</a></li>
              <li><a href="@routes.Application.discography()">Discography</a></li>
            </ul>
          </li>
          <li><a href="#" id="musicB">Music</a></li>
          <li><a href="#" id="mangoB">Mango Kru Products</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Moar Stuff<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">DOB Recommendations</a></li>
              <li><a href="#">Oostin Dictionary</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Friends of DOB</li>
              <li><a href="@routes.Application.hansUndJorg()">Hans Und Jorg</a></li>
              <li><a href="@routes.Application.author("Gaz Three")">Gaz Three</a></li>
            </ul>
          </li>
          @loggedInUser match {
            case Some(user) => {

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="addContent">Add Content<span class="caret"></span></a>
                <ul id="editMenu" class="dropdown-menu" role="menu">
                @for(role <- user.userRole.roles.sorted) {
                  <li><a id="editLink@{role}" href="@routes.Authorised.newContent(role).url">@role</a></li>
                }
                </ul>
              </li>
              <script type="text/javascript">
                                        //getRoles()
                                    </script>
            }
            case None => {}
          }


        </ul>
        <ul id="rightSideNavBar" class="nav navbar-nav navbar-right">
        @loggedInUser match {
          case Some(user) => {
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="userMenu">@user.name<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="@routes.Authorised.profile" id="profileLink">Profile</a></li>
                @if(user.role == "Administrator"){
                  <li><a href="@routes.Admin.admin" id="profileLink">Admin</a></li>
                  <li><a href="@routes.Admin.bulkUploader" id="profileLink">Content Loader</a></li>
                }
                <li><a href="@routes.UserServices.signout" id="signout">Sign Out</a></li>
              </ul>
            </li>

          }
          case None => {<li><a href="@routes.UserServices.login" id="signin">Sign in</a></li>}
        }
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </div>
