@(message: String)
@scripts = {
    <script src='@routes.Assets.at("javascripts/news.js")'></script>
}

@content = {

   <div class="row" >

      <div  class="col-md-9  col-sm-offset-2 dob-main">
       <div id="news" class="centered">
       </div>
       <ul class="pager">
          <li><a id="Prev" href="javascript:void(null)">Previous</a></li>
          <li><a id="Next" href="javascript:void(null)"">Next</a></li>
       </ul>

      </div><!-- /.dob-main -->

    </div><!-- /.row -->

}

@main("Da Oostin Boyeez")(content)( scripts)
