@(message: String)
@scripts = {}

@content = {

   <div class="row">

      <div class="col-sm-8 dob-main">

        <div class="dob-post">
          <h2 class="dob-post-title">Sample dob post</h2>
          <p class="dob-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
        </div><!-- /.dob-post -->

        <div class="dob-post">
        </div><!-- /.dob-post -->

        <ul class="pager">
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
        </ul>

      </div><!-- /.dob-main -->

    </div><!-- /.row -->

}

@main("Da Oostin Boyeez")(content)( scripts)
