@(post: Post, extraData: Map[String, String], user:Option[UserAccount])(implicit session : Session)

@content = {
<div class="row" >

    <div  class="col-md-10  col-sm-offset-1 dob-main">
        <input type="hidden" name="postId" id="postId" value="@post._id.stringify" />
        <div class="pull-right"><a id="editLink" class="expander" href="@routes.Authorised.blogUpdate(post._id.stringify)"><span class="fa fa-pencil"></span></a></div>
        <h2 class="dob-post-title" id="postTitle" contenteditable="true">@post.title</h2>
        <input type="hidden" value="1" id="@post.postType" />
        <div>
            Created On <div name="dateCreated" id="dateCreated"  size="auto" readonly="false" style="display:inline">@post.dateCreated</div> by  <div style="display:inline" name="author" id="author">@post.author</div>
        </div>
        <input type="hidden" name="content" id="content" />
        <div id="editor">
            @extraData.get("thumb") match {
                case Some(img) => {
                    <img id="bioImage" class="pull-left bioImage img-responsive" src="@img" />
                }
                case None =>{}
            }
            <div id="initText">@Html(post.content)</div>
        </div>
    </div>
    <div  class="col-md-10  col-sm-offset-1 dob-main">
        <div id="tags">
            @post.tags match {
                case Some(tags) => {
                    @for(tag <- tags){
                        <a id="tag_@tag">@tag</a>
                    }
                }
                case None => {}
            }
        </div>
    </div>

</div><!-- /.row -->

}

@scripts = {
<script type="text/javascript" src='@routes.Application.javascriptRoutes()'></script>
<script src='@routes.Assets.at("javascripts/require.js").url'
        data-main='@routes.Assets.at("javascripts/post-main.js").url'></script>
}
@main("Da Oostin Boyeez",content,scripts,user)