@(message: String,user: UserAccount, profile:Option[UserProfile])(implicit session : Session)
@scripts = {
}

@content = {

<div class="row">
    <div class="col-md-10 col-md-offset-1 dob-main centered">
        <div>
            <div style="display:inline" class="pull-right"><a href="#" id="editBtn" ><span class="fa fa-pencil"></span></a></div>
            @profile match {
                case None => {<img src="" id="avatar" class="profileAvatar pull-left"  />}
                case Some(userProfile) => {<img src="@userProfile.avatar" id="avatar" class="profileAvatar pull-left" />}
            }
            <h1 id="userName">@user.name</h1>

            About:
            <div id="about" class="jimbo">
                l';l';l';
                @profile match {
                    case None => {Logger.info("None")}
                    case Some(userProfile) => {@userProfile.about}
                }
            </div>
        </div>
    </div>

</div><!-- /.row -->
@helper.requireJs(core = routes.Assets.at("javascripts/require.js").url,module = routes.Assets.at("javascripts/profile-main").url)
}

@main("Da Oostin Boyeez")(content)( scripts)
