@(message: String,user: UserAccount, profile:Option[UserProfile])(implicit session : Session)
@scripts = {
<script src='@routes.Assets.at("javascripts/require.js").url'
        data-main='@routes.Assets.at("javascripts/profile-main.js").url'></script>
}

@content = {

<div class="row">
    <div class="col-md-10 col-md-offset-1 dob-main centered">
        <div>
            <input id="userId" value="@user.id" type="hidden"/>
            @profile match {
            case None => {}
            case Some(userProfile) => {<input id="profileId" value="@userProfile.id" type="hidden"/>}
            }
            <div style="display : inline" class="pull-right" style="display : inline-block">

            <a href="#" id="editBtn" class="editBtnOff"><span class="fa fa-pencil"></span></a>
                <a href="#" id="saveBtn" style="display:none" class="editBtnOff"><span class="fa fa-save"></span></a>
                <a href="#" id="saveSuccess" style="display:none" class="btnSuccessful"><span class="fa fa-check-circle"></span></a>
                <a href="#" id="saveFailed" style="display:none" class="btnFailure"><span class="fa fa-times-circle"></span></a>
            </div>
            <div id="avatarDiv">
                @profile match {

                    case None => {<img src="" id="avatar" class="profileAvatar pull-left"  />}
                    case Some(userProfile) => {<img src="@userProfile.avatar" id="avatar" class="profileAvatar pull-left" />}
                }
            </div>
            <h1 id="userName">@user.name</h1>

            About:
            <div id="about" class="about">
                @profile match {
                    case None => {}
                    case Some(userProfile) => {@userProfile.about}
                }
            </div>
            @defining(data.UserAccounts.getUserAliases(user)) { aliases =>

                <div @if(aliases.isEmpty) {
                    style="display: none"}
                >Posts as: <div id="aliasList" style="display : inline"> @for(als <- aliases) {@als.alias, }</div></div>
            }
            @if(user.role.hasAuthority("TrustedContributor")) {
                <div class="input-group dob-input-group">
                    <input type="text" id="aliasInput" class="form-control dob-control-grey">
                    <span class="input-group-btn">
                        <a href="#" id="addAlias" class="editBtnOff dropdown-toggle" data-toggle="dropdown" ><span class="fa fa-user-plus"></span>
                            Add Alias</a>
                    </span>

                </div>
                <div id="errs" style="display : inline"></div>
            }
            <hr/>
            My Posts:
            <div id="myPosts">

            </div>
            <hr/>
            My Drafts:
            <div id="myDrafts">

            </div>
        </>
    </div>

</div><!-- /.row -->

}

@main("Da Oostin Boyeez",content, scripts,Some(user))
