@(message: String,user: UserAccount, profile:Option[UserProfile])(implicit session : Session)
@scripts = {
}

@content = {

<div class="row">
    <div class="col-md-10 col-md-offset-1 dob-main centered">
        <div>
            @profile match {
                case None => {<img src="" id="avatar" class="pull-left" />}
                case Some(userProfile) => {<img src="@userProfile.avatar" id="avatar" class="pull-left" />}
            }
            <h1 id="userName">@user.name</h1>
            About:
            <div id="about">
                @profile match {
                    case None => {Logger.info("None")}
                    case Some(userProfile) => {@userProfile.about}
                }
            </div>
        </div>
    </div>

</div><!-- /.row -->

}

@main("Da Oostin Boyeez")(content)( scripts)
